<!DOCTYPE html>
<html>
  <head>
    <title>Album 1 - Songs</title>
    <link rel="stylesheet" href="../static/index.css">
    <script src="../static/index.js"></script>
  </head>
  <body style="   background-image: url('https://wallpaperaccess.com/full/5050295.jpg');
  background-attachment: fixed;
    background-size:cover;">
		<nav>
      <a href="index.html">HOME</a>
      <a href="artists.html">ARTISTS</a>
      <a href="about.html">ABOUT</a>
      <a href="search.html">SEARCH</a>
      <a href="spotlight.html">ARTIST SPOTLIGHT</a>
      <a href="playlist.html">PLAYLIST</a> 
    </nav>

    <h1 style="font-size:70px;
color:white;"><b>Up All Night</b></h1>
    <ul style="font-size:30px;
    color:white;">
      <li>One Thing</li>
      <p>Duration 3:17</p>
      <button onclick="addToPlaylist('One Thing', '3:17')">Add to Playlist</button>
      <li>Up All Night</li>
      <p>Duration 3:13</p>
      <button onclick="addToPlaylist('Up All Night', '3:13')">Add to Playlist</button>
      <li>What Makes You Beautiful</li>
      <p>Duration 3:19</p>
      <button onclick="addToPlaylist('What Makes You Beautiful', '3:19')">Add to Playlist</button>
      <li>Stand Up</li>
      <p>Duration 2:54</p>
      <button onclick="addToPlaylist('Stand Up', '2:54')">Add to Playlist</button>
      <li>I Want</li>
      <p>Duration 2:51</p>
      <button onclick="addToPlaylist('I Want', '2:51')">Add to Playlist</button>

    </ul>
    <script>
      function addToPlaylist(song_title, duration) {
        // Send an AJAX request to the Flask route
        fetch('/add_to_playlist', {
          method: 'POST',
          body: new URLSearchParams({
            'song_title': song_title,
            'duration': duration
          })
        })
      }
      </script>
     <footer>
  <p>© 2023 Team DD, Inc. All rights reserved. <span "><a href="about.html">About</a></span></p>
</footer>

  </body>
</html>
