<!DOCTYPE html>
<html>
  <head>
    <title>Album 1 - Songs</title>
    <link rel="stylesheet" href="../static/index.css">
    <script src="../static/index.js"></script>
  </head>
  <body style="   background-image: url('https://wallpaperaccess.com/full/5050295.jpg');
  background-attachment: fixed;
    background-size:cover;">
	<nav>
      <a href="index.html">HOME</a>
      <a href="artists.html">ARTISTS</a>
      <a href="about.html">ABOUT</a>
      <a href="search.html">SEARCH</a>
      <a href="spotlight.html">ARTIST SPOTLIGHT</a>
      <a href="playlist.html">PLAYLIST</a> 
    </nav>
    <h1 style="font-size:70px;
color:white;"><b>Midnight Memories</h1>
    <ul style="font-size:30px;
    color:white;">
      <li>You & I</li>
      <p>Duration 3:58</p>
      <button onclick="addToPlaylist('You & I', '3:58')">Add to Playlist</button>
      <li>Best Song Ever</li>
      <p>Duration 3:20</p>
      <button onclick="addToPlaylist('Best Song Ever', '3:20')">Add to Playlist</button>
      <li>Story Of My Life</li>
      <p>Duration 4:04</p>
      <button onclick="addToPlaylist('Story Of My Life', '4:04')">Add to Playlist</button>
      <li>Diana</li>
      <p>Duration 3:05</p>
      <button onclick="addToPlaylist('Diana', '3:05')">Add to Playlist</button>
      <li>Strong</li>
      <p>Duration 3:04</p>
      <button onclick="addToPlaylist('Strong', '3:04')">Add to Playlist</button>

    </ul>
    <script>
      function addToPlaylist(song_title, duration) {
        // Send an AJAX request to the Flask route
        fetch('/add_to_playlist', {
          method: 'POST',
          body: new URLSearchParams({
            'song_title': song_title,
            'duration': duration
          })
        })
      }
      </script>
     <footer>
  <p>© 2023 Team DD, Inc. All rights reserved. <span "><a href="about.html">About</a></span></p>
</footer>

  </body>
</html>
