<!DOCTYPE html>
<html>
  <head>
    <title>Album 1 - Songs</title>
    <link rel="stylesheet" href="../static/index.css">
    <script src="../static/index.js"></script>
  </head>
  <body style="   background-image: url('https://wallpaperaccess.com/full/5050295.jpg');
  background-attachment: fixed;
    background-size:cover;">
		<nav>
      <a href="index.html">HOME</a>
      <a href="artists.html">ARTISTS</a>
      <a href="about.html">ABOUT</a>
      <a href="search.html">SEARCH</a>
      <a href="spotlight.html">ARTIST SPOTLIGHT</a>
      <a href="playlist.html">PLAYLIST</a> 
    </nav>

    <h1 style="font-size:70px;
color:white;"><b>Take Me Home</b></h1>
    <ul style="font-size:30px;
    color:white;">
      <li>Kiss You</li>
      <p>Duration 3:03</p>
      <button onclick="addToPlaylist('Kiss You', '3:03')">Add to Playlist</button>
      <li>I Would</li>
      <p>Duration 3:22</p>
      <button onclick="addToPlaylist('I Would', '3:22')">Add to Playlist</button>
      <li>Little Things</li>
      <p>Duration 3:40</p>
      <button onclick="addToPlaylist('Little Things', '3:40')">Add to Playlist</button>
      <li>Live While We are Young</li>
      <p>Duration 3:20</p>
      <button onclick="addToPlaylist('Live While We are Young', '3:20')">Add to Playlist</button>
      <li>Over Again</li>
      <p>Duration 3:02</p>
      <button onclick="addToPlaylist('Over Again', '3:02')">Add to Playlist</button>

    </ul>
    <script>
      function addToPlaylist(song_title, duration) {
        // Send an AJAX request to the Flask route
        fetch('/add_to_playlist', {
          method: 'POST',
          body: new URLSearchParams({
            'song_title': song_title,
            'duration': duration
          })
        })
      }
      </script>
     <footer>
  <p>© 2023 Team DD, Inc. All rights reserved. <span "><a href="about.html">About</a></span></p>
</footer>

  </body>
</html>
