<!DOCTYPE html>
<html>
  <head>
    <title>Artist 4 - Albums</title>
    <link rel="stylesheet" href="../static/index.css">
    <script src="../static/index.js"></script>
  </head>
  <body style="
 
    background-image: url('https://4kwallpapers.com/images/wallpapers/taylor-swift-american-singer-portrait-2560x2560-642.jpg');
  background-attachment: fixed;
    background-size:cover;
    
">
	<nav>
      <a href="index.html">HOME</a>
      <a href="artists.html">ARTISTS</a>
      <a href="about.html">ABOUT</a>
      <a href="search.html">SEARCH</a>
      <a href="spotlight.html">ARTIST SPOTLIGHT</a>
      <a href="playlist.html">PLAYLIST</a> 
    </nav>

    <h1 style="color:white;">TAYLOR SWIFT</h1>
    <div class="album-container">
      <a href="songs.html?album=1">
        <div class="album-item">
        <a href="album16-songs.html">
          <img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/71SJuKYY2nL._SL1400_.jpg" alt="Album 1">
          <p>Fearless</p>
          <p>5 songs</p>
          <p>2008</p>
        </div>
      </a>
      <a href="songs.html?album=2">
        <div class="album-item">
        <a href="album17-songs.html">
          <img src="https://i.pinimg.com/originals/98/f1/8d/98f18df052ee2bbc6e4c64db946f3ead.jpg" alt="Album 2">
          <p>Reputation</p>
          <p>5 songs</p>
          <p>2017</p>
        </div>
      </a>
      <a href="songs.html?album=3">
        <div class="album-item">
        <a href="album18-songs.html">
          <img src="https://qph.cf2.quoracdn.net/main-qimg-85ea48a0dbbdeb22651ca8694d0dfbcb-lq" alt="Album 3">
          <p>Folklore</p>
          <p>5 songs</p>
          <p>2020</p>
        </div>
      </a>
      <a href="songs.html?album=4">
        <div class="album-item">
        <a href="album19-songs.html">
          <img src="https://preview.redd.it/x7yc94tmusv41.png?width=1500&format=png&auto=webp&s=8d72520c908561f1d705d68d0df061062b010737" alt="Album 4">
          <p>Lover</p>
          <p>5 songs</p>
          <p>2019</p>
        </div>
      </a>
      <a href="songs.html?album=5">
        <div class="album-item">
        <a href="album20-songs.html">
          <img src="https://preview.redd.it/bju3k3oq0s461.png?auto=webp&s=380dc8ad0441bb4ef92ed4136c3c03d022fd58cc" alt="Album 5">
          <p>Evermore</p>
          <p>5 songs</p>
          <p>2020</p>
        </div>
      </a>
    </div>
     <footer>
  <p>© 2023 Team DD, Inc. All rights reserved. <span "><a href="about.html">About</a></span></p>
</footer>

  </body>
</html>
