<!DOCTYPE html>
<html>
  <head>
    <title>Artist 3 - Albums</title>
    <link rel="stylesheet" href="../static/index.css">
    <script src="../static/index.js"></script>
  </head>
  <body style="
 
    background-image: url('https://cdn.wallpapersafari.com/90/11/ciHM2p.jpg');
  background-attachment: fixed;
    background-size:cover;"
>
	<nav>
      <a href="index.html">HOME</a>
      <a href="artists.html">ARTISTS</a>
      <a href="about.html">ABOUT</a>
      <a href="search.html">SEARCH</a>
      <a href="spotlight.html">ARTIST SPOTLIGHT</a>
      <a href="playlist.html">PLAYLIST</a> 
    </nav>

    <h1 style="color:black;">ONE DIRECTION</h1>
    <div class="album-container">
      <a href="songs.html?album=1">
        <div class="album-item">
        <a href="album11-songs.html">
          <img src="https://i.scdn.co/image/ab67616d0000b2734a5584795dc73860653a9a3e" alt="Album 1">
          <p>Up All Night</p>
          <p>5 songs</p>
          <p>2011</p>
        </div>
      </a>
      <a href="songs.html?album=2">
        <div class="album-item">
        <a href="album12-songs.html">
          <img src="https://i.scdn.co/image/ab67616d0000b273d304ba2d71de306812eebaf4" alt="Album 2">
          <p>Four</p>
          <p>5 songs</p>
          <p>2014</p>
        </div>
      </a>
      <a href="songs.html?album=3">
        <div class="album-item">
        <a href="album13-songs.html">
          <img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/81MlUSvIevL._SL1500_.jpg" alt="Album 3">
          <p>Take Me Home</p>
          <p>5 songs</p>
          <p>2012</p>
        </div>
      </a>
      <a href="songs.html?album=4">
        <div class="album-item">
        <a href="album14-songs.html">
          <img src="https://i.scdn.co/image/ab67616d0000b273241e4fe75732c9c4b49b94c3" alt="Album 4">
          <p>Made In The A.M</p>
          <p>5 songs</p>
          <p>2015</p>
        </div>
      </a>
      <a href="songs.html?album=5">
        <div class="album-item">
        <a href="album15-songs.html">
          <img src="https://cdn11.bigcommerce.com/s-8smrzb0w7f/images/stencil/original/products/8511/11406/81NX2kclabL._SL1500___58808.1597556309.jpg" alt="Album 5">
          <p>Midnight Memories</p>
          <p>5 songs</p>
          <p>2013</p>
        </div>
      </a>
    </div>
     <footer>
  <p>© 2023 Team DD, Inc. All rights reserved. <span "><a href="about.html">About</a></span></p>
</footer>

  </body>
</html>
