<!DOCTYPE html>
<html>
  <head>
    <title>Artist 1 - Albums</title>
    <link rel="stylesheet" href="../static/index.css">
    <script src="../static/index.js"></script>
  </head>
  <body style="
 
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c8c4f299-4064-433b-8a7c-90baccbc0f4c/da8pzre-3a0aed89-844e-4d5d-b44a-95dcde489f65.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2M4YzRmMjk5LTQwNjQtNDMzYi04YTdjLTkwYmFjY2JjMGY0Y1wvZGE4cHpyZS0zYTBhZWQ4OS04NDRlLTRkNWQtYjQ0YS05NWRjZGU0ODlmNjUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.nJEh3kN4qx_C6RPteULLihoRY8FT5yjg7sgY8hEkb4w');
     background-size:cover;
  background-attachment: fixed;"

>
	<nav>
      <a href="index.html">HOME</a>
      <a href="artists.html">ARTISTS</a>
      <a href="about.html">ABOUT</a>
      <a href="search.html">SEARCH</a>
      <a href="spotlight.html">ARTIST SPOTLIGHT</a>
      <a href="playlist.html">PLAYLIST</a> 
    </nav>

    <h1 style="color:white;">JUSTIN BIEBER</h1>
    <div class="album-container">
      <a href="songs.html?album=1">
        <div class="album-item">
        <a href="album01-songs.html">
          <img src="https://upload.wikimedia.org/wikipedia/en/2/27/Justin_Bieber_-_Purpose_%28Official_Album_Cover%29.png" alt="Album 1">
          <p><b>Purpose</b></p>
          <p>5 songs</p>
          <p>2015</p>
        </div>
      </a>
      <a href="songs.html?album=2">
        <div class="album-item">
        <a href="album02-songs.html">
          <img src="https://upload.wikimedia.org/wikipedia/en/0/08/Justin_Bieber_-_Justice.png" alt="Album 2">
          <p><b>Justice</b></p>
          <p>5 songs</p>
          <p>2021</p>
        </div>
      </a>
      <a href="songs.html?album=3">
        <div class="album-item">
        <a href="album03-songs.html">
          <img src="https://upload.wikimedia.org/wikipedia/en/1/16/Justin_Bieber_-_Changes.png" alt="Album 3">
          <p><b>Changes</b></p>
          <p>5 songs</p>
          <p>2020</p>
        </div>
      </a>
      <a href="songs.html?album=4">
        <div class="album-item">
        <a href="album04-songs.html">
          <img src="https://cdns-images.dzcdn.net/images/cover/3a122dd73916b2bd992a1d7158d713c8/264x264.jpg" alt="Album 4">
          <p><b>Believe</b></p>
          <p>11 songs</p>
          <p>2016</p>
        </div>
      </a>
      <a href="songs.html?album=5">
        <div class="album-item">
        <a href="album05-songs.html">
          <img src="https://i.scdn.co/image/ab67616d0000b2737c3bb9f74a98f60bdda6c9a7" alt="Album 5">
          <p><b>My World</b></p>
          <p>9 songs</p>
          <p>2018</p>
        </div>
      </a>
    </div>
     <footer>
  <p>© 2023 Team DD, Inc. All rights reserved. <span "><a href="about.html">About</a></span></p>
</footer>

  </body>
</html>
